<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h4 class="mb-0">Cadastro</h4>
        </div>

        <div class="card-body">
          <form [formGroup]="formGroup" (submit)="cadastrarUsuario()">
            <div class="mb-3">
              <label for="nomeCompleto" class="form-label">Nome completo</label>
              <input [(ngModel)]="usuario.nome_usuario" type="text" class="form-control" name="nomeUsuario"
              formControlName="nomeUsuario">
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">E-mail</label>
              <input [(ngModel)]="usuario.email" type="email" class="form-control" name="email"
              formControlName="email">
            </div>

            <div class="mb-3">
              <label for="senha" class="form-label">Senha</label>
              <input [(ngModel)]="usuario.senha" type="password" class="form-control" name="senha"
              formControlName="senha">
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
