<div class="modal-content">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmação</h1>
    <button type="button" class="btn-close" (click)="fecharModal()" aria-label="Close"></button>
  </div>
  <div class="modal-body text-center">
    Confirma a exclusão do registro?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="fecharModal()">Cancelar</button>
    <button type="button" class="btn btn-danger">Deletar</button>
  </div>
</div>
