<form class="formModal" [formGroup]="formModal" (ngSubmit)="salvar()">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Descrição</mat-label>
      <input formControlName="descricao" matInput />
    </mat-form-field>

    <mat-error *ngIf="formModal.get('descricao')?.errors?.['required'] && formModal.get('descricao')?.touched">
      Descrição <strong>obrigatória!</strong>
    </mat-error>

     <mat-form-field class="full-width" appearance="fill">
        <mat-label>Valor (R$)</mat-label>
        <input matInput formControlName="valor" mask="separator.2" thousandSeparator="."/>
     </mat-form-field>

     <mat-error *ngIf="formModal.get('valor')?.errors?.['required'] && formModal.get('valor')?.touched">
      Valor <strong>obrigatório!</strong>
    </mat-error>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="data" >
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

     <mat-error *ngIf="formModal.get('data')?.errors?.['required'] && formModal.get('data')?.touched">
      Data <strong>obrigatória!</strong>
     </mat-error>

  </div>
  <div mat-dialog-actions>
      <button mat-raised-button type="submit" [disabled]="formModal.invalid" color="primary">Salvar</button>
    <a (click)="fecharDialog(false)" mat-raised-button color="warn">Fechar</a>
  </div>
</form>
