<mat-toolbar color="primary" class="mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
  </button>
  <span>Seja bem vindo!</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer opened="false" mode="side" position="start">
    <mat-nav-list>

      <mat-list-item>
        <button [routerLink]="['receitas']" mat-button><mat-icon>attach_money</mat-icon> Receitas</button>
      </mat-list-item>

      <mat-list-item>
        <button [routerLink]="['despesas']" mat-button><mat-icon>trending_down</mat-icon> Despesas</button>
      </mat-list-item>

      <mat-list-item>
        <button [routerLink]="['grafico-resumo-mes']" mat-button><mat-icon>assessment</mat-icon> Gráfico consolidado</button>
      </mat-list-item>

      <mat-divider *ngIf="!exibeLogout"></mat-divider>

      <mat-list-item *ngIf="!exibeLogout">
        <button mat-button (click)="logout()"><mat-icon>logout</mat-icon> Logout</button>
      </mat-list-item>

    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
      <div style="text-align: center;min-height: 600px;">
          <router-outlet></router-outlet>
      </div>
  </mat-drawer-content>
</mat-drawer-container>
