<footer class="bg-light text-center text-white">
  <div class="container p-4 pb-0">
    <section class="mb-4">

      <a
        target="_blank"
        class="btn text-white btn-floating m-1 bg-light"
        href="https://www.linkedin.com/in/jorgehauck/"
        role="button">
        <img src="assets/img/linkedin.png" alt="Linkedin"></a>

      <a
        target="_blank"
        class="btn text-white btn-floating m-1 bg-light"
        href="https://github.com/jorgehauck"
        role="button">
        <img src="assets/img/github.png" alt="Github"></a>

    </section>
  </div>
  <div class="text-center p-3 bg-secondary">
    © 2023 Copyright: José Jorge Hauck Júnior
  </div>
</footer>
