<app-cabecalho></app-cabecalho>

<div class="container">
   <div class="row">
      <div class="card mt-3">
        <div class="card-body">
          <div class="container text-center">
            <p class="h1 mt-3">Listagem de Despesas</p>
            <hr/>
            <div class="row">
              <div class="col mt-4">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Descrição</th>
                      <th scope="col">Valor</th>
                      <th scope="col">Data</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of despesas">
                      <td>{{item.descricao}}</td>
                      <td>{{item.valor}}</td>
                      <td>{{item.data}}</td>
                      <td>
                        <button type="button" class="btn btn-info p-1 me-2" (click)="abrirModal(item)">
                          <img src="assets/img/edit.png" alt="Editar"> Editar</button>

                        <button type="button" class="btn btn-danger p-1" (click)="abrirModalConfirmacao()">
                          <img src="assets/img/delete.png" alt="Deletar"> Deletar</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>
</div>



