<form class="formModal" [formGroup]="formModal" (ngSubmit)="salvar()">
  <h1 mat-dialog-title>{{ tituloModal }}</h1>
  <div mat-dialog-content>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Descrição</mat-label>
      <input formControlName="descricao" matInput>
     </mat-form-field>
     <mat-form-field class="full-width" appearance="fill">
      <mat-label>Valor</mat-label>
      <input matInput formControlName="valor">
     </mat-form-field>
     <mat-form-field class="full-width" appearance="fill">
      <mat-label>Data</mat-label>
      <input matInput formControlName="data">
     </mat-form-field>



  </div>
  <div mat-dialog-actions>
      <button mat-raised-button type="submit" [disabled]="formModal.invalid" color="primary">Salvar</button>
    <a (click)="fecharPopUp()" mat-raised-button color="warn">Fechar</a>
    <!-- <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Cancel</button> -->
  </div>
</form>
